
#completeGame{
    text-align: center;
}

#gameBoard{
    border:10px solid rgb(153, 255, 0) ;
}

#scoreBoard{
    font-size: 60px;
    font-family: consolas;
}

#restartButton{
    font-family: consolas;
    font-size: 15px;
    color: rgba(8, 8, 8, 0.929);
    height: 35px;
    width: 70px;
    border-radius: 12px;
}