.timerBtn{
    background-color:mediumseagreen;
    height: 30px;
    width: 80px;
    border: 3px solid rgb(241, 236, 240);
    border-radius: 10px;
    color:white;
    cursor:pointer;
    font-family: consolas;
}

#timer{
    font-size: 75px;
   color:chartreuse;
   font-family:consolas;
}

#timeConatainer{
    text-align: center;
    border: 3px solid rgb(172, 156, 8);
    border-radius: 20px;
    background-color:rgb(50, 129, 193);
    
}